<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue1</title>
</head>
<body>
    <div id="app">
        {{message}}
    </div>

    <div id="app-2">
    <!--
        v-bind 属性被称为指令。指令带有前缀 v-，以表示它们是 Vue 提供的特殊属性。
        可能你已经猜到了，它们会在渲染的 DOM 上应用特殊的响应式行为。简言之，
        这里该指令的作用是：“将这个元素节点的 title 属性和 Vue 实例的 message 属性保持一致”。
    -->
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
<!--条件-->
    <div id="app-3">
        <p v-if="seen">现在你看到我了！</p>
    </div>

<!--循环-->
    <!--显示整个数组-->
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>


    <script src="./js/vue.js"></script>
    <script>
   //     window.onload = ()=>{
   //vue 不能放在window.load函数下，会失去效果，不知道为什么

            var app =new Vue({
                el : '#app',
                data:{
                    message:'hello world'
                }
            });

            var app2 = new Vue({
                el : '#app-2',
                data: {
                    message: '页面加载于 ' + new Date().toLocaleString()
                }
            });

            var app3 = new Vue({
                el:'#app-3',
                data:{
                    seen:true
                }
            });
            var app4 = new Vue({
                el:'#app-4',
                data:{
                    todos:[
                        {text:'学习JavaScript'},
                        {text:'学习Vue'},
                        {text:'整个牛项目'}
                    ]
                }
            })




//        }
    </script>
</body>
</html>